<%= form_for(@comp) do |f| %>
  <% if @comp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comp.errors.count, "error") %> prohibited this comp from being saved:</h2>

      <ul>
      <% @comp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comp_id %><br>
    <%= f.text_field :comp_id %>
  </div>
  <div class="field">
    <%= f.label :comp_name %><br>
    <%= f.text_field :comp_name %>
  </div>
  <div class="field">
    <%= f.label :area_code %><br>
    <%= f.text_field :area_code %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :www %><br>
    <%= f.text_field :www %>
  </div>
  <div class="field">
    <%= f.label :brief %><br>
    <%= f.text_field :brief %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
