<p id="notice"><%= notice %></p>

<p>
  <strong>Comp:</strong>
  <%= @comp.comp_id %>
</p>

<p>
  <strong>Comp name:</strong>
  <%= @comp.comp_name %>
</p>

<p>
  <strong>Area code:</strong>
  <%= @comp.area_code %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @comp.tel %>
</p>

<p>
  <strong>Www:</strong>
  <%= @comp.www %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @comp.brief %>
</p>

<%= link_to 'Edit', edit_comp_path(@comp) %> |
<%= link_to 'Back', comps_path %>
